/*===================================================
  Modal
===================================================*/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* The Modal (background) */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.modal.is_active {
    display: flex;
}

.modal_container {
    background-color: #fff;
    width: 500px;
    max-width: 100%;
    padding: 30px 15px 20px;
    position: relative;
}

.close {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    color: #aaa;
    text-decoration: none;
}